/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    background-color: #f4f4f4;
}

h2 {
    color: #0056b3;
    text-align: center;
}

p {
    margin: 10px 0;
}

strong {
    color: #000;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
